<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Node.js Web App</title>
    <style>
        body {
            color: <%= color %>;
        }
    </style>
</head>
<body>
    <h1>Env Color Application</h1>
    <p><%= username %>님, 환영합니다.</p>
    <p>현재 ENV 값으로 적용된 환경 변수는 <%= color %> 입니다.</p>
</body>
</html>